.home{
  .l-clo{
    display: flex;
    flex-direction: column;
    
    .top{
      .user{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;

        .img{
          width: 150px;
          border-radius: 50%;
          margin-right: 30px;
          overflow: hidden;
        }

        .userinfo{
          .name{
            font-size: 32px;
            margin-bottom: 10px;
          }
          .access{
            color: #999;
          }
        }
      }

      .login-info{
        color: #999;
        font-size: 14px;
        line-height: 28px;

        span{
          margin-left: 20px;
          color: #333;
        }
      }
    }

    .bottom{
      margin-top: 20px;
      height: 100%;
    }
  }

  .r-clo{
    .list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .item{
        display: flex;
        align-items: center;
        width: 32%;
        margin-bottom: 2%;

        .icon{
          width: 70px;
          height: 70px;
          margin-right: 10px;
          color: #fff;
          font-size: 30px;
          text-align: center;
          line-height: 70px;
        }

        .detail{
          padding: 10px 0;
          line-height: 20px;

          .num{
            color: #333;
            font-size: 28px;
          }
          .txt{
            margin-top: 5px;
            font-size: 14px;
            color: #999;
          }
        }
      }
    }

    .graph{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .card{
        width: 48.5%;
      }
    }
  }
}